.App {
  /* height: 80%; */
  width: 80%;
  color: white;
  font-size: 45px;
}

.App-btn {
  color: darkgreen !important;
  background-color: white !important;
}

.App-btn:hover {
  color: white !important;
  background-color: darkgreen !important;
}