.App {
  height: 80%;
  width: 80%;
  color: white;
  font-size: 45px;
}

.App button {
  color: darkgreen;
  background-color: white;
}

.App button:hover {
  color: white;
  background-color: darkgreen;
}