.App {
  /* height: 80%; */
  width: 80%;
  color: white;
  font-size: 45px;
}

.App-btn {
  color: darkgreen !important;
  background-color: white !important;
}

.App-btn:hover {
  color: white !important;
  background-color: darkgreen !important;
}

.App-btn-disabled {
  color:grey !important;
  background-color: lightgray !important;
}

.card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}