@font-face {
  font-family: 'roboto-bold';
  src: URL('./fonts/roboto/Roboto-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'roboto-medium';
  src: URL('./fonts/roboto/Roboto-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'arimo-regular';
  src: URL('./fonts/arimo/Arimo-Regular.otf') format('opentype');
}

* { 
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 35px 0;
  font-family: 'roboto-bold';
  background-color: #c5e1a5;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz-question {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 25px;
  background-color: rgba(27, 132, 44,.5);
  border-radius: 25px;
  margin: 25px 0;
}

.quiz-btn {
  width: fit-content;
}

.searching {
  color: darkgreen;
  font-size: 25px;
  margin: 10px 0;
}

.quiz-result {
  height: 85vh;
  display: grid;
  column-gap: 15px;
  grid-template-columns: 40% 58%;
  grid-template-rows: 50% 50%;
}

.result-large {
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin: 15px 0;
  grid-row: 1 / span 2;
}

.result-small-top { 
  padding: 15px 0;
  display: flex;
  background-color: darkgoldenrod;
  border-radius: 25px;
  margin: 15px 0;
}

.result-small-bottom {
  padding: 25px;
  font-size: 30px;
  background-color: lightskyblue;
  border-radius: 25px;
  margin: 0 0 15px 0;
}

.result-large-bottom {
  padding: 25px;
  background-color: cornsilk;
  border-radius: 25px;
}

.result-large-bottom ul {
  padding: 0;
}

.pie-chart-container {
  width: 80%;
  margin: 5px auto
}

.reduce-text {
  color: goldenrod;
  text-align: center;
}

.result-small-text {
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
  font-family: 'arimo-regular'
}

.MuiSlider-colorPrimary {
  color: darkgreen !important;
}

.question-text {
  margin-bottom: 15px;
  font-size: 25px;
  font-family: 'arimo-regular';
}

.css-u4tvz2-MuiFormLabel-root.Mui-focused {
  color: rgba(0, 0, 0, 0.6) !important;
}

.error {
  color: darkred !important;
}

.recommendation {
  color: goldenrod;
  list-style-type: none;
  margin: 15px 0;
}

.css-1vovazs.Mui-focused {
  color: rgba(0, 0, 0, 0.6) !important;
}

.zip-code {
  padding: 4px; 
  display: flex;
  align-items: center; 
  width: 30%;
}

.slider {
  width: 60%;
}

.home-text {
  color: goldenrod;
  /* font-family: 'arimo-regular'; */
  font-size: 30px;
  margin: 45px 0 25px 0;
}

@media screen and (max-width: 550px) {
  .quiz-result {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .zip-code {
    width: 90%;
  }

  .slider {
    width: 100%;
  }
}